{% extends 'header.html' %}
{% load static %}
{% block content%}
    <body>
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Sidebar  -->
        {% include 'slide.html' %}
        <!-- TOP Nav Bar -->
        {% include 'top_navbar.html' %}
        <!-- TOP Nav Bar END -->
        <!-- Page Content  -->
        <div id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-12 col-lg-10  ">
                        <div class="iq-card">
                            <div class="card-header">
                                <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                        <h2 class="card-title">Modifier les informations de l'entretien du véhicule {{ entretien.vehicule.marque }}--{{ entretien.vehicule.numero_immatriculation }} <i class="bi bi-tools"></i></h2>
                                    </div>
                                </div>
                            </div>

                            <div class="iq-card-body">
                                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <label class="control-label col-sm-3 align-self-center mb-0" for="description">Description de l'entretien :</label>
                                                <div class="col-sm-8">
                                                {{ form.description }}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button type="submit" class="col btn btn-primary">Enregistrer</button>
                                        <a href="{% url 'entretien:liste_Entretien' %}" class="col btn iq-bg-danger">Annuler</a>
                                    </div>
                                    {% if form.errors %}
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                <div class="alert alert-dark mt-4" role="alert">
                                                    <strong>Erreur {{ field }} :</strong> {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    {% include 'footer.html' %}
    </body>
{% endblock %}