{% extends 'header.html' %}
{% load static %}
{% block content%}
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
        <!-- Wrapper Start -->
        <div class="wrapper">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-sm-12 text-center">
                        <div class="iq-error">
                            <img src="{% static 'images/error/01.png' %}" class="img-fluid iq-error-img" alt="">
                            <h2 class="mb-0">Oops! La page demandée n'a pas été trouvée.</h2>
                            <p>Veuillez Revenir à la page d'accueil.</p>
                            <a class="btn btn-primary mt-3" href="{% url 'utilisateur:erreur' %}"><i class="ri-home-4-line"></i>Revenir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% include 'footer.html' %}

   </body>
{% endblock %}